In [24]:
import pandas as pd
import numpy as np
import datetime

In [51]:
df = pd.read_csv("../../data/sentiment_analysis_predictions/by_post/SPY.csv", parse_dates=["created_at"])

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155524 entries, 0 to 155523
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   created_at    155524 non-null  datetime64[ns]
 1   post          155524 non-null  object
 2   stock_symbol  155524 non-null  object
 3   Negative      155524 non-null  float64
 4   Neutral       155524 non-null  float64
 5   Positive      155524 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 7.1+ MB

In [53]:
df_group_by_average = df.groupby(df["created_at"].dt.date).mean()

In [54]:
df_group_by_average["count"] = df.groupby(df["created_at"].dt.date).size()

In [55]:
df_group_by_average["pos_minus_neg"] = df_group_by_average["Positive"] - df_group_by_average["Negative"]

In [56]:
df_group_by_average["pos_minus_neg_times_count"] = df_group_by_average["pos_minus_neg"] * df_group_by_average["count"]

In [57]:
df_group_by_average

,Negative,Neutral,Positive,count,pos_minus_neg,pos_minus_neg_times_count
created_at,,,,,,
2021-05-01,0.364499,0.338692,0.296809,87,-0.067691,-5.889096
2021-05-02,0.353237,0.337489,0.309274,110,-0.043963,-4.835967
2021-05-03,0.473865,0.232569,0.293566,282,-0.180299,-50.844340
2021-05-04,0.467318,0.228605,0.304077,374,-0.163241,-61.052021
2021-05-05,0.501610,0.224523,0.273867,308,-0.227744,-70.145086
...,...,...,...,...,...,...
2022-04-26,0.439146,0.273064,0.287790,602,-0.151355,-91.115755
2022-04-27,0.448051,0.286386,0.265564,600,-0.182487,-109.492358
2022-04-28,0.474838,0.292044,0.233118,565,-0.241720,-136.571542
2022-04-29,0.508760,0.258128,0.233112,726,-0.275648,-200.120464
2022-04-30,0.458508,0.317673,0.223819,197,-0.234689,-46.233703

In [58]:
df_group_by_average.to_csv("../../data/sentiment_analysis_predictions/by_day/SPY.csv")

In [22]:
df[df["created_at"].dt.date == datetime.date(2021, 6, 3)]["post"].unique()

array(["'member when the GME squeeze was happening in January, and everyone was saying that AMC was a distraction? What happened to that?",
       '- AMC Market Cap: $25.7B\n- GME Market Cap: $18.27B\n- BB Market Cap: $8.9B\n\nWSB Ticker mentions:\n\n- AMC: Medium\n- GME: Low\n- BB: High\n\nClearly the best risk reward here is BB',
       '                       🚀BB GME AMC NOK 🌝                                                                           \n                   🚀🖕🖕                                                                            \n                🚀🖕🖕🖕                                                                           \n             🚀🖕🖕🖕🖕                                                                             \n          🚀🖕🖕🖕🖕🖕                                                                            \n        🚀🖕🖕🖕🖕🖕🖕                                                                            \n      🚀🖕🖕🖕🖕🖕🖕🖕\n    🚀 🖕🖕🖕🖕🖕🖕🖕🖕',
       ..., '🦍🦍Bargain shopping AMC 🦍🦍',
       '🦍🦍If AMC is so worthless, how come Hege masters took a 3 billion dollar loss yesterday, 13 billion loss so far on a worthless company? Hold and Load AMC 💰🚀🚀🚀',
       '🦧🦧🦧🦧 AMC'], dtype=object)

In [18]:
df["created_at"].dt.date[0]

datetime.date(2021, 6, 1)

In [19]:
 datetime.date(2021, 6, 3)

TypeError: descriptor 'date' for 'datetime.datetime' objects doesn't apply to a 'int' object

In [30]:
df[df["created_at"].dt.date == datetime.date(2021, 5, 1)]

,created_at,post,stock_symbol,Negative,Neutral,Positive
2394,2021-05-01 17:51:12,$AMC to the moon 🚀,['AMC'],0.000649,0.000260,0.999091
2976,2021-05-01 06:02:43,$GME and $AMC squeezes got Hedgies reaching fo...,"['GME', 'AMC']",0.000711,0.000426,0.998863
3029,2021-05-01 00:00:43,$ICTP (Intercept Pharmaceuticals): An In-Depth...,"['AMC', 'REAL', 'X', 'BIG', 'III', 'IS', 'WE']",0.000533,0.040576,0.958891
4808,2021-05-01 00:40:00,"13f filings for AMC today. 213,000 shares adde...",['AMC'],0.000543,0.000272,0.999186
6199,2021-05-01 04:14:30,After all the negative things fool has posted ...,['AMC'],0.523657,0.447448,0.028894
...,...,...,...,...,...,...
117890,2021-05-01 10:02:19,When will AMC apes die off?,['AMC'],0.727423,0.270910,0.001667
121258,2021-05-01 18:33:07,"Wow. I have PFE, SQ &amp; the mother load w $A...","['AMC', 'SQ']",0.000636,0.000216,0.999148
123016,2021-05-01 22:28:41,Yes! I really want to do my first options trad...,"['AMC', 'GME']",0.000650,0.000191,0.999160
123225,2021-05-01 22:57:47,Yet AMC is making a killing out of it.,['AMC'],0.003846,0.991679,0.004474
123520,2021-05-01 14:00:01,You'll all be fomoing NOK next month. No point...,"['AMC', 'GME', 'NOK']",0.001835,0.020993,0.977172