## 1. Imports and config

In [1]:
A = "HISA-SMFM: HISTORICAL AND SENTIMENT ANALYSIS BASED STOCK MARKET FORECASTING MODEL".lower()
print(A)

hisa-smfm: historical and sentiment analysis based stock market forecasting model

In [1]:
import datetime as dt
import warnings
import yaml
import logging
import pywhatkit
import pandas as pd
from pmaw import PushshiftAPI
from tqdm import tqdm
from sqlalchemy import create_engine
from data_extraction_utils import data_prep_posts, join_submission_title_and_body, find_stock_symbols, data_prep_comments
warnings.filterwarnings("ignore")

In [2]:
# Specify logging settings
logging.basicConfig(filename='comments.log', level=logging.INFO, filemode="a", format="%(asctime)s - %(levelname)s - %(message)s")

## 2. Database configuration

In [3]:
# Reading form config.yaml"
with open("../../config.yaml", "r") as yamlconfig:
    config = yaml.load(yamlconfig, Loader=yaml.FullLoader)

# Create postgres string with db-config
postgres_username = config["db_config"]["postgres_username"]
postgres_password = config["db_config"]["postgres_password"]
postgres_address = config["db_config"]["postgres_address"]
postgres_port = config["db_config"]["postgres_port"]
postgres_dbname = config["db_config"]["postgres_dbname"]

postgres_str = f"postgresql://{postgres_username}:{postgres_password}@{postgres_address}:{postgres_port}/{postgres_dbname}"

# create db connection with sqlalchemy
cnx = create_engine(postgres_str)

## 3. Create stock symbol list

In [4]:
# load stock list and transform it into a set
stock_ticker_list = pd.read_excel("../../data/external/stock_ticker_list.xlsx")["symbol"].to_list()

# Modified second stock list with dollar sign
stock_ticker_list_with_dollar_sign = [f"${ticker}" for ticker in stock_ticker_list]

# Combine the two lists to one set
final_stock_ticker_list = set(stock_ticker_list + stock_ticker_list_with_dollar_sign)

## 4. Extract Comments from reddit

In [5]:
# Set date range to extract the data from the API
start = dt.datetime.strptime("04-08-2021", "%d-%m-%Y")
end = dt.datetime.strptime("05-08-2021", "%d-%m-%Y")
timestamp_list = [int((start + dt.timedelta(days=x)).timestamp()) for x in range(0, (end-start).days +1)]

# Reddit API Object
api = PushshiftAPI(num_workers=60, batch_size=60)

In [6]:

# loop over list of timestamps
for i in (pbar := tqdm(range(len(timestamp_list) -1))):

    # Set start date and end date
    start_date = timestamp_list[i]
    end_date = timestamp_list[i + 1]

    # Specify data to extract from reddit
    filters = ['author', 'created_utc', "score", "body"]

    # Call API function to retrieve data from reddit as a dataframe
    df = data_prep_comments(api, "wallstreetbets", start_time=start_date, end_time=end_date, filters=filters)

    # If response from API is empty -> Note that we have missing data for that day and continue
    if len(df) == 0:
        print(f"Missing Data for: {dt.datetime.fromtimestamp(start_date)}")
        logging.info(f"{df.shape[0]} rows written to DB - Date: {dt.datetime.fromtimestamp(start_date)}")
        pbar.set_description(f"{dt.datetime.fromtimestamp(start_date)}")
        continue

    # Transform timestamp into datetime column
    df["created_at"] = df["created_utc"].apply(lambda x: dt.datetime.fromtimestamp(x))

    # Get stock symbol from reddit post if available
    df["stock_symbol"] = df["body"].apply(lambda x: find_stock_symbols(x, final_stock_ticker_list))

    # Drop unused columns
    df.drop(columns=["created_utc"], inplace=True)

    # Rename columns as preparation for database
    df.rename(columns={'score': 'num_up_votes', "body": "post"}, inplace=True)

    # Write dataframe to database
    df.to_sql("r_wallstreetbets", cnx, index=False, if_exists="append")

    # Logging
    logging.info(f"{df.shape[0]} rows written to DB - Date: {dt.datetime.fromtimestamp(start_date)}")
    pbar.set_description(f"{dt.datetime.fromtimestamp(start_date)}")

  0%|          | 0/1 [09:25<?, ?it/s]

ValueError: A string literal cannot contain NUL (0x00) characters.

In [7]:
df

,author,post,num_up_votes,type,created_at,stock_symbol
0,EatMeatPeeps,"Quick, relate it to the market!",11,comment,2021-08-04 01:11:57,NaN
1,Trex_in_F16,De blasio more like de blasted,4,comment,2021-08-04 01:11:56,NaN
2,oscart57,Just stop please,1,comment,2021-08-04 01:11:54,NaN
3,Jtbny,I paid $12.75 per,3,comment,2021-08-04 01:11:53,NaN
4,1percentRolexWinner,Week?,1,comment,2021-08-04 01:11:51,NaN
...,...,...,...,...,...,...
44731,phoenixmusicman,We have to eject them üò°,1,comment,2021-08-04 23:16:31,NaN
44732,avelak,He's just trying to get people to accept his w...,1,comment,2021-08-04 23:16:31,NaN
44733,edibleblue,Oh yea saw them NYE Chicago... They opened the...,1,comment,2021-08-04 22:06:14,[AL]
44734,mMounirM,etsy is rekt,1,comment,2021-08-04 22:06:14,NaN
44735,[deleted],[removed],1,comment,2021-08-04 22:06:13,NaN

In [14]:
df.isnull().values

array([[False, False, False, False, False,  True],
       [False, False, False, False, False,  True],
       [False, False, False, False, False,  True],
       ...,
       [False, False, False, False, False, False],
       [False, False, False, False, False,  True],
       [False, False, False, False, False,  True]])

In [9]:
filters = ['author', 'created_utc', "score", "body"]

In [16]:
df["post"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
44731    False
44732    False
44733    False
44734    False
44735    False
Name: post, Length: 44736, dtype: bool

In [10]:
posts = data_prep_comments(api, "wallstreetbets", start_time=1619820000, end_time=1619906400, filters=filters)

In [19]:
df[df["post"].isna()]

Empty DataFrame
Columns: [author, post, num_up_votes, type, created_at, stock_symbol]
Index: []

In [14]:
posts

[{'author': 'Archdemon2212',
  'body': 'Due diligence',
  'created_utc': 1619822878,
  'score': 1},
 {'author': 'JimCramersCoke',
  'body': 'ocean water',
  'created_utc': 1619822871,
  'score': 4},
 {'author': 'Overdue_bills',
  'body': 'Puts on Monday.',
  'created_utc': 1619822869,
  'score': 1},
 {'author': 'Horror-Lemon3200',
  'body': 'Welcome! You found your home',
  'created_utc': 1619822867,
  'score': 2},
 {'author': 'get_MEAN_yall',
  'body': 'I can trade until 8pm eastern. What broker do you use?',
  'created_utc': 1619822866,
  'score': 0},
 {'author': 'dulkion',
  'body': 'And here I am preaching the GME gospel at Thanksgiving, and not buying in until January.  \n\nI need to listen to me more often.',
  'created_utc': 1619822866,
  'score': 2},
 {'author': 'SnooCauliflowers4003',
  'body': 'its the best public college system in the country?',
  'created_utc': 1619822864,
  'score': 1},
 {'author': 'Forevergogo',
  'body': "Oh man, I'd be selling TSLA so fast.  Everyone knows its way overvalued.  Do they have potential?  Yah.  But so does like. Everyone.  \nBut this is not financial advice, and neither are the 300 search results on google that agree with my opinion.",
  'created_utc': 1619822863,
  'score': 2},
 {'author': '1worldterminal',
  'body': 'Sold it at a loss',
  'created_utc': 1619822861,
  'score': 0},
 {'author': 'DapperDan_95',
  'body': 'Who wants to raise DNN? Denison Mines chillin at $1.06',
  'created_utc': 1619822858,
  'score': 4},
 {'author': 'drunkwasabeherder',
  'body': "He's a retard, at least he got the right part of the world.",
  'created_utc': 1619822857,
  'score': 3},
 {'author': 'riderrp82',
  'body': 'best thing about doing it yourself is after u fuck it up three times on the way u are oretty much a pro when u are done',
  'created_utc': 1619822857,
  'score': 4},
 {'author': 'Eattherich1987',
  'body': '?? BTX was going up all week, mooned Wednesday, pulled back Thursday, mooned today. MVIS was a play last week to sell Monday. You‚Äôre just not paying attention bud.',
  'created_utc': 1619822856,
  'score': 1},
 {'author': 'AbuLi0n',
  'body': 'SAME! Drive me mad. I will dish out solid advice to others and I never actually put my chips on the table.',
  'created_utc': 1619822856,
  'score': 2},
 {'author': '[deleted]',
  'body': '[removed]',
  'created_utc': 1619822854,
  'score': 1},
 {'author': 'magdellan',
  'body': 'It‚Äôs a P&amp;D just look at the market cap',
  'created_utc': 1619822853,
  'score': 0},
 {'author': 'Waffle_Authority',
  'body': 'If I just bought funny money all this time, I would be way up',
  'created_utc': 1619822852,
  'score': 3},
 {'author': 'JimCramersCoke',
  'body': 'it‚Äôs friday night and i‚Äôm watching cramer. What the fuck is wrong with me',
  'created_utc': 1619822850,
  'score': 9},
 {'author': 'M_DIZ',
  'body': 'this is the way !',
  'created_utc': 1619822843,
  'score': 2},
 {'author': 'JadedJared',
  'body': 'Every email I get is titled ‚ÄúLast chance!‚Äù or something similar. I paid for the $99 a year option, is SA on top of that or included? Shit, I don‚Äôt even know what I paid for.',
  'created_utc': 1619822843,
  'score': 1},
 {'author': '3dprintsAnomus',
  'body': 'May normally has some juice left in it but normally stays flat as fuck. \n\nMaybe 0.87% gain on average for the full month. \n\nNow June normally has a loss of ~0.21% from the start to the end of the month.\n\nThings may not pop off again until October.',
  'created_utc': 1619822841,
  'score': 2},
 {'author': 'Horror-Lemon3200',
  'body': 'Boss',
  'created_utc': 1619822841,
  'score': 2},
 {'author': 'SnooCauliflowers4003',
  'body': 'Medical is part of STEM right',
  'created_utc': 1619822837,
  'score': 1},
 {'author': 'Legitimate-Ad-7621',
  'body': 'SYME is a fraud.\nETWO has very attractive economics.',
  'created_utc': 1619822835,
  'score': 1},
 {'author': 'VisualMod',
  'body': "I am a bot from /r/wallstreetbets.                                You submitted one or more banned tickers: ZOM.\n\n                                Message /u/zjz if they're above 1.25 billion-ish market cap and not related to crypto/pennies/OTC/SPACs.",
  'created_utc': 1619822835,
  'score': 1},
 {'author': 'Another_Name_Today',
  'body': 'I invested in Chesapeake years ago at $35. Not as much as you here, but enough that I felt it. \n\nI‚Äôd show you my loss porn, but when they reverse split, my shares were so worthless I got cashed out by my broker. Who then charged me a reverse split fee that exceeded the sell price. \n\nPoint being, treasure this moment. Years from now when things are great, you‚Äôll have photographic proof of how bad it got to temper your joy.',
  'created_utc': 1619822834,
  'score': 2},
 {'author': 'VermillionPutas',
  'body': 'Paperhanding SNDL in the .85 to .95 range.\nIt is working well so far.',
  'created_utc': 1619822832,
  'score': 0},
 {'author': 'freeportme',
  'body': 'Ya I like first generation although there are some really nice super new pimped out ones. The average ones suck',
  'created_utc': 1619822832,
  'score': 1},
 {'author': 'shiverstar',
  'body': 'Ice cold water after a long hike in the cold but sunny breeze.',
  'created_utc': 1619822831,
  'score': 6},
 {'author': 'gonnaitchwhenitdries',
  'body': 'you really should be wondering if perhaps we aren‚Äôt that stupid after all. \n\nAlso, that‚Äôs not a lot of money in a retirement for my age. I won‚Äôt be able to retire on the trajectory I am on.',
  'created_utc': 1619822828,
  'score': 21},
 {'author': 'labancaneba',
  'body': 'Fresh OJ',
  'created_utc': 1619822827,
  'score': 2},
 {'author': 'Jy_sunny',
  'body': 'I was talking about calls. Poors like me can‚Äôt afford those :(',
  'created_utc': 1619822826,
  'score': 3},
 {'author': 'Quarter120',
  'body': 'If i had a 401k id absolutely be doing this. This is the Winning Hand right here',
  'created_utc': 1619822825,
  'score': 15},
 {'author': 'BigboyJayjayjetplane',
  'body': 'Im a property manager i can give you good estimates for those jobs the popcorn ceiling and drywall for 15k is absurd',
  'created_utc': 1619822823,
  'score': 2},
 {'author': 'StonkDoctor1000',
  'body': 'Yes please',
  'created_utc': 1619822822,
  'score': 2},
 {'author': 'Perryswoman',
  'body': 'I just saw a 1000 share order on level 2 @72.21 waiting to be filled',
  'created_utc': 1619822820,
  'score': 0},
 {'author': 'This-Engineering3277',
  'body': 'Anyone who wants to play forest dm me',
  'created_utc': 1619822819,
  'score': 2},
 {'author': '[deleted]',
  'body': '[removed]',
  'created_utc': 1619822819,
  'score': 1},
 {'author': 'Rk0',
  'body': 'sir my casino is closed',
  'created_utc': 1619822819,
  'score': 0},
 {'author': 'bbq-ribs',
  'body': 'I think I figuired out how the fed is calculating inflation.\n\n\nI call it onlyinfaltion, they look that top 1% of onlyfans accounts. \n\nbasically if subscription fees go up, inflation.\nif subscription fees go down then deflation.\n\n\nOr this could be used to see the real effect of employment.',
  'created_utc': 1619822814,
  'score': 3},
 {'author': 'Tfti_',
  'body': 'FYI Playboy still has room to run before 5/12 earnings',
  'created_utc': 1619822812,
  'score': 2},
 {'author': 'Glad-Egg-5672',
  'body': 'Free. That‚Äôs like my kid‚Äôs lemonade stand. It‚Äôs free when you don‚Äôt have to pay for lemons or water or a jug or any supplies. Miners have to pay for equipment and electricity and staff and shit. It‚Äôs not Free.\n\nSide note: I‚Äôm giving you the benefit of the doubt that you were just bring flippant, but I‚Äôm a dad so I needed to correct you.',
  'created_utc': 1619822810,
  'score': 3},
 {'author': 'mingling4502',
  'body': 'DISCA anyone?',
  'created_utc': 1619822810,
  'score': 1},
 {'author': 'fungi-seeking-fungis',
  'body': 'God OP is a glorious ape. Thanks for this',
  'created_utc': 1619822804,
  'score': 1},
 {'author': 'kakawaka1',
  'body': 'Lol for reference next time.... Pure ethanol wipes it off in one go without damaging your clear coat.\nIt happened to my van one time',
  'created_utc': 1619822804,
  'score': 2},
 {'author': 'LSSCI',
  'body': 'I had Twitter, I deleted it. Because it was an echo chamber. And from the outside looking in, it has only become much worse. \nI love it when people assume that they are an expert in knowing things like why they are not on Twitter.\n\nHave a good day.',
  'created_utc': 1619822803,
  'score': 1},
 {'author': 'labancaneba',
  'body': 'Buy puts on whatever people are euphoric over',
  'created_utc': 1619822803,
  'score': 3},
 {'author': '[deleted]',
  'body': '[removed]',
  'created_utc': 1619822801,
  'score': 1},
 {'author': 'WeaponizedAutism12',
  'body': 'Ban',
  'created_utc': 1619822800,
  'score': 3},
 {'author': 'ticklebadger1',
  'body': 'Thank you!!',
  'created_utc': 1619822789,
  'score': 1},
 {'author': '[deleted]',
  'body': '[removed]',
  'created_utc': 1619822787,
  'score': 2},
 {'author': 'Marvin1koz',
  'body': 'My local dry cleaners made more money than MVIS during the pandemic.',
  'created_utc': 1619822787,
  'score': 21},
 {'author': 'get_MEAN_yall',
  'body': 'Not if you sell your bags right now',
  'created_utc': 1619822783,
  'score': 1},
 {'author': 'Convergentshave',
  'body': 'You‚Äôd probably get kicked out of here if you did....',
  'created_utc': 1619822783,
  'score': 2},
 {'author': 'WeaponizedAutism12',
  'body': 'You cannot lump these under WSB plays, the apes form a portable echo chamber and it drowns everything else out',
  'created_utc': 1619822781,
  'score': 0},
 {'author': 'Eattherich1987',
  'body': 'They‚Äôre hitting low bids to drive down the price.',
  'created_utc': 1619822780,
  'score': -1},
 {'author': 'Rebelwithacause970',
  'body': 'Nice',
  'created_utc': 1619822774,
  'score': 4},
 {'author': 'Hardstucked',
  'body': 'ü§°ü§°ü§°ü§°',
  'created_utc': 1619822774,
  'score': -6},
 {'author': 'Palantaylor-swift',
  'body': 'Lmao Are you me? üòé',
  'created_utc': 1619822768,
  'score': 4},
 {'author': 'VisualMod',
  'body': 'I am a bot. A Gain/Loss/YOLO should be a picture of a closed gain, a closed loss, or an open position &gt; $2,500.',
  'created_utc': 1619822764,
  'score': 1},
 {'author': 'DawudM',
  'body': 'What‚Äôs the best non-alcohol beverage you‚Äôve had?',
  'created_utc': 1619822763,
  'score': 0},
 {'author': 'mold_motel',
  'body': 'P&amp;D does not stand for peanut butter and dolphin sandwich.',
  'created_utc': 1619822754,
  'score': 2},
 {'author': 'Duffbeers71',
  'body': 'By yourself',
  'created_utc': 1619822747,
  'score': 3},
 {'author': 'dvdr1029',
  'body': 'To anyone who fomo‚Äôd into BTX, congratulations',
  'created_utc': 1619822741,
  'score': 3},
 {'author': 'Fckwalstreet',
  'body': 'I think they should be at 12 back next week',
  'created_utc': 1619822739,
  'score': 2},
 {'author': 'TheCatnamedMittens',
  'body': 'Altria is the best weed stock change my mind.',
  'created_utc': 1619822731,
  'score': 0},
 {'author': 'labancaneba',
  'body': 'Remember when yolos would always be calls or puts, but never shares?',
  'created_utc': 1619822729,
  'score': 1},
 {'author': 'Overdue_bills',
  'body': 'Work at a hedgefund.',
  'created_utc': 1619822729,
  'score': 10},
 {'author': 'LameOne',
  'body': "I also haven't been shot before.",
  'created_utc': 1619822728,
  'score': 35},
 {'author': 'Lonely_Writer_1883',
  'body': 'right! i have to eat them just to trip and imagine i have that kind of loot',
  'created_utc': 1619822722,
  'score': 1},
 {'author': 'Donkeycow15',
  'body': 'Tell them to fuck off man. If you have a friend in the building trade talk to him and pay cash. He‚Äôll get his mates to do it at the weekend for half that.',
  'created_utc': 1619822719,
  'score': 3},
 {'author': 'MuratCey',
  'body': 'This is the way üöÄüöÄüöÄ',
  'created_utc': 1619822715,
  'score': 1},
 {'author': 'Admirable-Weakness52',
  'body': 'in for 105 shares!',
  'created_utc': 1619822714,
  'score': 1},
 {'author': 'ionmeeler',
  'body': 'Hm, it shouldn‚Äôt have it, but it‚Äôs possible so yeah best to get it tested. Though I‚Äôd assume there would be some type of disclosure when you bought it if it did',
  'created_utc': 1619822714,
  'score': 1},
 {'author': 'Chunkifunkeye',
  'body': 'How old r u?',
  'created_utc': 1619822711,
  'score': 3},
 {'author': 'Scorpio11777',
  'body': "Notify me if you find my money, it's missing.",
  'created_utc': 1619822711,
  'score': 3},
 {'author': 'freeportme', 'body': 'üíºüëú', 'created_utc': 1619822708, 'score': 2},
 {'author': 'footlong24seven',
  'body': 'Rookie numbers man',
  'created_utc': 1619822708,
  'score': 1},
 {'author': 'L3t5G000',
  'body': "30 Jan 2022 $70 calls and 30 Jan 2023 $100 calls.. i'm ready.",
  'created_utc': 1619822707,
  'score': 11},
 {'author': 'Admirable-Weakness52',
  'body': 'in for 150 shares!',
  'created_utc': 1619822703,
  'score': 4},
 {'author': 'assnuuut',
  'body': 'Godspeed retard.... Godspeed....',
  'created_utc': 1619822700,
  'score': 3},
 {'author': 'MuratCey',
  'body': 'This is the way üöÄüöÄüöÄ',
  'created_utc': 1619822694,
  'score': 1},
 {'author': '[deleted]',
  'body': '[removed]',
  'created_utc': 1619822693,
  'score': 2},
 {'author': 'No_Instruction5780',
  'body': 'Serving up a hot beverage.',
  'created_utc': 1619822692,
  'score': 1},
 {'author': 'shiverstar',
  'body': "They are not going to recover any time soon, and they're a boomer dividend machine so they won't crash too much more. Maybe an iron condor or something similar.",
  'created_utc': 1619822691,
  'score': 1},
 {'author': 'HydrocodonesForAll',
  'body': "I mean you *are* rich by some means. Did you know 2.3 billion people on earth still use a pit latrine as their primary toilet? If fecal sludge management is not a *serious* issue in your country, you ARE richer than most people in the world. And having at least 88k in liquidity makes you richer than most of the people left. It's important we don't lose sight of how lucky we really are",
  'created_utc': 1619822691,
  'score': 5},
 {'author': 'Superfiend78',
  'body': 'Y‚Äôall underestimating that dirty rag $PLBY\nWHO ELSE IS IN DM ME',
  'created_utc': 1619822691,
  'score': 3},
 {'author': 'VisualMod',
  'body': "I am a bot. Don't just post the Robinhood front page or an equivalently useless screenshot. Positions or GTFO.",
  'created_utc': 1619822690,
  'score': 1},
 {'author': 'AdvertisingOne215',
  'body': 'Dead stock',
  'created_utc': 1619822690,
  'score': 3},
 {'author': '[deleted]',
  'body': '[removed]',
  'created_utc': 1619822686,
  'score': 0},
 {'author': 'VisualMod',
  'body': "I am a bot. You submitted a picture of a banned ticker, PSTV.                            Yell at /u/zjz if it's above 1 billion-ish market cap and not related to crypto/pennies/OTC/SPACs.",
  'created_utc': 1619822683,
  'score': 1},
 {'author': 'isthisquora',
  'body': 'Or both',
  'created_utc': 1619822682,
  'score': 1},
 {'author': 'letsgetapplebees',
  'body': 'I‚Äôm just bored and tryin to get a date for tomorrow',
  'created_utc': 1619822682,
  'score': 0},
 {'author': '[deleted]',
  'body': '[removed]',
  'created_utc': 1619822681,
  'score': 1},
 {'author': 'Life_Breath',
  'body': 'I am from North Korea, no joke.',
  'created_utc': 1619822680,
  'score': 4},
 {'author': 'fpcane305',
  'body': 'Cool story Bro....lol',
  'created_utc': 1619822679,
  'score': 1},
 {'author': 'fkgaslighters',
  'body': 'This video made my day lmao',
  'created_utc': 1619822679,
  'score': 1},
 {'author': 'Top_Caramel5267',
  'body': 'Worlds are colliding',
  'created_utc': 1619822674,
  'score': 2},
 {'author': 'letsgetapplebees',
  'body': 'I like to show up on zoom in my pjs and beanie',
  'created_utc': 1619822671,
  'score': 1},
 {'author': 'Forevergogo',
  'body': "This is why ameritrade won't let me play with call options, they know I'm a stupid ape and I'd just piss it all on memes.",
  'created_utc': 1619822668,
  'score': 1}]

In [15]:
pd.DataFrame(posts)

,author,body,created_utc,score
0,Archdemon2212,Due diligence,1619822878,1
1,JimCramersCoke,ocean water,1619822871,4
2,Overdue_bills,Puts on Monday.,1619822869,1
3,Horror-Lemon3200,Welcome! You found your home,1619822867,2
4,get_MEAN_yall,I can trade until 8pm eastern. What broker do ...,1619822866,0
...,...,...,...,...
95,fpcane305,Cool story Bro....lol,1619822679,1
96,fkgaslighters,This video made my day lmao,1619822679,1
97,Top_Caramel5267,Worlds are colliding,1619822674,2
98,letsgetapplebees,I like to show up on zoom in my pjs and beanie,1619822671,1
99,Forevergogo,This is why ameritrade won't let me play with ...,1619822668,1

In [27]:
df[df["post"].str.contains("\x00")]

,author,post,num_up_votes,type,created_at,stock_symbol
14685,OrangePrestigious168,Give love to the growers and come to Scott's m...,2,comment,2021-08-04 20:10:01,NaN

In [30]:
df[df["post"].str.contains("\x00")]["post"]

14685    Give love to the growers and come to Scott's m...
Name: post, dtype: object

In [38]:
df[df["post"].str.contains("\x00")]["post"]

14685    Give love to the growers and come to Scott's m...
Name: post, dtype: object

In [42]:
df_cleaned = df.drop(df.loc[df["post"].str.contains("\x00")].index)

In [43]:
df_cleaned

,author,post,num_up_votes,type,created_at,stock_symbol
0,EatMeatPeeps,"Quick, relate it to the market!",11,comment,2021-08-04 01:11:57,NaN
1,Trex_in_F16,De blasio more like de blasted,4,comment,2021-08-04 01:11:56,NaN
2,oscart57,Just stop please,1,comment,2021-08-04 01:11:54,NaN
3,Jtbny,I paid $12.75 per,3,comment,2021-08-04 01:11:53,NaN
4,1percentRolexWinner,Week?,1,comment,2021-08-04 01:11:51,NaN
...,...,...,...,...,...,...
44731,phoenixmusicman,We have to eject them üò°,1,comment,2021-08-04 23:16:31,NaN
44732,avelak,He's just trying to get people to accept his w...,1,comment,2021-08-04 23:16:31,NaN
44733,edibleblue,Oh yea saw them NYE Chicago... They opened the...,1,comment,2021-08-04 22:06:14,[AL]
44734,mMounirM,etsy is rekt,1,comment,2021-08-04 22:06:14,NaN
44735,[deleted],[removed],1,comment,2021-08-04 22:06:13,NaN

In [44]:
df_cleaned.to_sql("r_wallstreetbets", cnx, index=False, if_exists="append")

735